@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
	var model = (HomePage)Model.Root();
	var logoIconPath = model == null ? "/media/okxhqfjy/logo-2.svg" : model.TLogo?.Url();
	var mainHeader = Model.ContentType.Alias == "homePage";
	var disableFixedComponents = Model.ContentType.Alias == "page404" || Model.ContentType.Alias == "ApplicationForm";
	var isBlogComponent = Model.ContentType.Alias == "blogPage" || Model.ContentType.Alias == "blogArticle" || Model.ContentType.Alias == "materialPage" || Model.ContentType.Alias == "materialArticle";
	var mainHeaderPadding = (mainHeader || disableFixedComponents || isBlogComponent);
	var languageDropDown = model.TContactUsFooter?.Content.TShowLanguageDropdown;
	@if(Model is BlockGridPage page)
	{
		mainHeaderPadding = !page.TPadding;
	}

	var pageName = Umbraco.AssignedContentItem.Name;

	if (Umbraco.AssignedContentItem.ContentType.Alias == "materialArticle" || Umbraco.AssignedContentItem.ContentType.Alias == "blogArticle")
	{
		pageName = Umbraco.AssignedContentItem.Parent?.Name;
	}	

	var metaTags = string.Join(", ", model.TMetaTags);
}
<!DOCTYPE html>
<html lang="@Umbraco.CultureDictionary.Culture.Name.Split("-")[0]">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="description" content="@(model.TMetaDescriptions)">
		<meta name="keywords" content="@metaTags">
		<meta name="google-site-verification" content="@(model.TGoogleSiteVerification)" />
		<title>TutorPro - @Umbraco.AssignedContentItem.Name</title>

		<link rel="icon" href="@logoIconPath" />
		<link rel="stylesheet" href="~/css/libs.min.css">
		<link rel="stylesheet" href="~/css/style.min.css">		
	</head>	
	<body>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-4JLD9KZDLH"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'G-4JLD9KZDLH');
		</script>

		<div class="wrapper@(mainHeaderPadding ? "" : " main-padding")" id="top">
			@if (!disableFixedComponents)
			{
				@await Html.PartialAsync("tutorPartials/THeader", model, new ViewDataDictionary(ViewData) { { "isDark", mainHeader }, { "pageName", pageName }, { "languages", languageDropDown } })
			}
			
			<main class="main">
				@RenderBody()
			</main>

			@if (!disableFixedComponents)
			{
				@await Html.PartialAsync("tutorPartials/TFooter", model, new ViewDataDictionary(ViewData) { { "pageName", pageName }, { "languages", languageDropDown } })
			}
		</div>
		@await Html.PartialAsync("tutorPartials/TCookies", model)		
		<script src="~/js/libs.min.js" defer></script>
		<script src="~/js/main.min.js" defer></script>
	</body>
</html>


