@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MaterialArticle>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Main.cshtml";
    var language = Umbraco.CultureDictionary.Culture.Name.Split("-")[0].ToLower();
    var parent = Model.Parent as MaterialPage;
}
<h1 class="main-top__title"><span>@Model.TTitle</span></h1>
<link rel="stylesheet" href="@(parent.TArticleApiUrl).css">
<script type="module" src="@(parent.TArticleApiUrl).js" async></script>
<div style="text-align: center;">
    <div style="display: inline-block; width: 65%; text-align: left;">
        <ce-tutorpro-material guid="@Model.TGuid" lang="@language" height="@parent.TArticleContentWidth"></ce-tutorpro-material>
    </div>
</div>
<div style="margin-top:-20px">
    @await Html.GetBlockGridHtmlAsync(parent.TAction);
</div>

