@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TCard>
@{
    var button = Model.TButton?.Content;
}

<div class="actions__column">
    <div class="actions__item @ViewData["order"] @ViewData["alone"]" style="background-color:@(Model.TBackgroundColor)" tabindex="0">
        @if(Model.TImage != null)
        {
            @await Html.GetBlockGridHtmlAsync(Model.TImage);
        }
        @if (!string.IsNullOrEmpty(Model.TTitle))
        {
            <span class="actions__item-title medium-title">@Model.TTitle</span>          
        }
        @Html.Raw(@Model.TText)
        @if(button != null)
        {
            @await Html.PartialAsync("tutorPartials/TButton", button, new ViewDataDictionary(ViewData) { { "class", "actions__item-link" }, { "span", true } })
        }
    </div>
</div>