@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TContact>

<div class="footer__contacts">
    <span class="footer__title medium-title">@Model.TContactTitle</span>
    <div class="footer__menu">
        <span class="footer__sub-title">@Model.TSubTilte</span>
        @if (Model.TItems != null && Model.TItems.Any())
        {
            @foreach (var item in Model.TItems)
            {
                if (item.Content is TSocialLink link)
                {
                    <div class="footer__contacts-link_block">
                        @if (link.TIcon != null)
                        {
                            <img class="footer__contacts-link_image" src="@link.TIcon.Url()" />
                        }
                        else
                        {
                            <div class="footer__contacts-link_image"></div>
                        }
                        <a class="footer__contacts-link" href="@link.TUrl">@link.TSocialName</a>
                    </div>
                }

            }
        }
    </div>
   
</div>


