@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TFilterSelect>

<div class="filter-form__select-wrap">
    <select class="filter-form__select select" name="@Model.TName" id="@Model.TName" data-placeholder="@Model.TPlaceholder">
        @if (Model.TFilterItems != null)
        {
            <option value=""></option>
            @for (int i = 0; i < Model.TFilterItems.Count(); i++)
            {
                if (Model.TFilterItems[i].Content is TRepeatableDictionary dictionary && dictionary.TValue != null)
                {
                        <option value="@dictionary.TKey">@dictionary.TValue</option>                 
                }               
            }
        }
    </select>
</div>