@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>

@{
    var logoIconPath = Model.TLogo == null ? "/media/okxhqfjy/logo-2.svg" : Model.TLogo.Url();
    var button = Model.THeaderButton?.Content;
    var headerType = "";
    var isDark = (ViewData["isDark"] as bool? ?? false);
    if (!isDark)
    {
        headerType = "light-mode";
    }
}

<header class="header @headerType" id="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" href="@("/" + Umbraco.CultureDictionary.Culture.Name.Split("-")[0])">
                <img src="@logoIconPath" width="199" height="50" alt="Logo">
            </a>
            <nav class="header__navigation-wrap" id="header-navigation">
                <div class="header__navigation" id="header-menu">
                    <ul class="header__menu">
                        @if(Model.THeaderLinks != null)
                        {
                            @foreach(var link in Model.THeaderLinks)
                            {
                                @if(link.Content is TBlockLink blockLink && blockLink != null)
                                {
                                    <li class="header__menu-item">
                                        <a class="header__menu-link @(ViewData["pageName"]?.ToString() == blockLink.TUrl?.Name  ? "active" : "")" href="@blockLink.TUrl?.Url">@blockLink.TLinkTitle</a>
                                    </li>
                                }
                                
                            }
                        }
                    </ul>
                </div>
            </nav>

            <div class="header__actions" id="header-actions">
                <div class="header__languages languages">
                    @await Html.PartialAsync("tutorPartials/TLanguagesList", UmbracoContext?.PublishedRequest?.PublishedContent, new ViewDataDictionary(ViewData) { { "DropDown", true } })
                </div>
                @if(button != null)
                {
                    @await Html.PartialAsync("tutorPartials/TButton", button, new ViewDataDictionary(ViewData) { { "class", "header__link" }, {"span", true} })
                }
            </div>

            <button class="header__burger" id="header-burger" type="button" aria-label="Burger-menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>  

