@using System.Globalization
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var currentPage = Model;
    var isDropDown = (ViewData["DropDown"] as bool? ?? false);
}
@if (isDropDown)
{
    var languageNameMain = Umbraco.CultureDictionary.Culture.Name.Split("-")[0];
    var modifiedLanguageNameMain = char.ToUpper(languageNameMain[0]) + languageNameMain.Substring(1).ToLower();

    <button class="languages__current" data-choice="@Umbraco.CultureDictionary.Culture.Name" type="button">@modifiedLanguageNameMain</button>
    <div class="languages__list">
        @foreach (var (culture, infos) in currentPage.Cultures)
        {
            var cultureInfo = new CultureInfo(culture);
            var languageName = cultureInfo.TwoLetterISOLanguageName;
            var modifiedLanguageName = char.ToUpper(languageName[0]) + languageName.Substring(1).ToLower();

            <a class="languages__link @(currentPage.GetCultureFromDomains().ToLower().Equals(culture) ? "active" : "")" href="@currentPage.Url(culture)" data-lang="@culture">
                @modifiedLanguageName
            </a>
        }
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var languageLinks = document.querySelectorAll('.languages__link');
            languageLinks.forEach(function (link) {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    var lang = link.getAttribute('data-lang');
                    window.location.href = link.getAttribute('href');
                });
            });
        });
    </script>
}
else
{
    @foreach (var (culture, infos) in currentPage.Cultures)
    {
        var cultureInfo = new CultureInfo(culture);
        var languageName = cultureInfo.TwoLetterISOLanguageName;
        var modifiedLanguageName = char.ToUpper(languageName[0]) + languageName.Substring(1).ToLower();

        <a class="footer__language @(currentPage.GetCultureFromDomains().ToLower().Equals(culture) ? "active" : "")" href="@currentPage.Url(culture)" data-lang="@culture">
            @modifiedLanguageName
        </a>
    }
}

