@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TImageWithText>

@{
    var imageUrls = new List<string>();

    foreach(var entry in Model.TImages)
    {
        imageUrls.Add(entry.Url());
    }

    var reverse = Model.TReverse ? "reverse" : "";
}
@if (Model.TIsTitleLower)
{   <div class="tutor-lesson__item item2 @reverse">
        <div class="tutor-lesson__item-image">
            @if (imageUrls[0] != null)
            {
                <img src="@imageUrls[0]" alt="Item image">
            }
        </div>
        <div class="tutor-lesson__item-info">
            <h3 class="tutor-lesson__item-title">@Model.TTitle</h3>
            <p class="tutor-lesson__item-text"><span>@Model.TText</span></p>
        </div>
        <span class="decor-element points parallax-element above">
            <img src="~/images/icons/decor-elements/decor-points-orange-big.svg" alt="Decor points">
        </span>
    </div>
}
else
{
    <div class="tutor-lesson__item item1 @reverse">
        <h3 class="tutor-lesson__item-title">@Model.TTitle</h3>
        <div class="tutor-lesson__item-info">
            <p class="tutor-lesson__item-text"><span>@Model.TText</span></p>
            <div class="tutor-lesson__item-image">
                <picture>    
                    @if(imageUrls[1] != null)
                    {
                        <source srcset="@imageUrls[1]" media="(max-width: 576px)">
                    }  
                    @if(imageUrls[0] != null)
                    {
                        <img src="@imageUrls[0]" alt="Item image">
                    }              
                </picture>
            </div>
        </div>
        <span class="decor-element points parallax-element">
            <img src="~/images/icons/decor-elements/decor-points-green.svg" alt="Decor points">
        </span>
    </div>
}
