@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TNewsletter>
@if(Model != null)
{
    <link rel="stylesheet" href="~/css/loading-spinner.min.css" />
    <div class="subscription-container">
        @if (Model.TTitle != null && !string.IsNullOrEmpty(Model.TTitle))
        {
            <p class="subscription-container-title">@Model.TTitle</p>
        }
        @if (Model.TSubTitle != null && !string.IsNullOrEmpty(Model.TSubTitle))
        {
            <p class="subscription-container-sub_title">@Model.TSubTitle</p>
        }
        <form id="subscriptionForm" method="post">
            <div id="subscription-form__item" class="subscription-form__item required">
                <input class="subscription-form__input required" id="email" name="email" type="email" placeholder="@Umbraco.GetDictionaryValueOrDefault("email placeholder", "email")" required>
                <button class="subscription-form__button" type="submit" data-culture="@ViewData["culture"]" data-s_text="@Model.TSuccessfulText">@Umbraco.GetDictionaryValueOrDefault("Send", "Send")</button>
                <span class="loading-spinner" id="loading-spinner" style="display: none;"></span>
                
            </div>
            <p id="status_text" class="subscription-container-sub_title"></p>
            <div id="custom-checkbox" class="custom-checkbox">
                <input type="checkbox" id="terms" required>
                <label for="terms"></label>
                @if (Model.TTermAndConditionsText != null && !string.IsNullOrEmpty(Model.TTermAndConditionsText))
                {
                    <span for="terms">@Model.TTermAndConditionsText</span>
                }
            </div>
        </form>
    </div>

    <script defer src="~/js/newsletter.min.js"></script>
}
