@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TRequestForm>
@{
    var mainPage = ViewData["mainPage"] as HomePage;
    var emailsToSend = mainPage?.TEmailsToSend;
}

@if(Model != null && mainPage != null)
{
    <div class="request-form__row">
        <div class="request-form__item required">
            <input class="request-form__input required" id="nameInput" type="text" data-name="name" name="SenderName" placeholder="@mainPage.TNamePlaceholder">
        </div>
        <div class="request-form__item required">
            <input class="request-form__input required" id="emailInput" type="email" data-name="email" name="SenderEmail" placeholder="@mainPage.TEmailPlaceholder">
        </div>
        @if (Model.TPhoneInput)
        {
            <div class="request-form__item required">
                <input class="request-form__input required" id="phoneInput" type="tel" data-name="phone number" name="SenderPhone" placeholder="@mainPage.TPhonePlaceholder">
            </div>
        }     
    </div>
    @if(emailsToSend != null)
    {
        @foreach (var email in emailsToSend)
        {
            <input type="hidden" class="check" name="AdditionalEmail" value="@email" />
        }
    }

    @if (Model.TMessageInput)
    {
        <textarea class="request-form__message" name="SenderMessage" placeholder="@mainPage.TMessagePlaceholder"></textarea>
    }
    <div class="request-form__actions @(Model.TCentered ? "centered" : "")">
        @if (Model.TButton != null)
        {
            <button class="request-form__submit link link@(Model.TButton.Content.TFill ? "-main" : "-inverted")" type="submit"><span>@Model.TButton.Content.TButtonTitle</span></button>
        }
        <p class="request-form__error"><span></span></p>
    </div>
}
