@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TTinyCard>

<div class="tiny_card @(Model.TBorder ? "border" : " ")" style="background-color:@Model.TBackgroundColor; @(Model.TGrow ? "flex-grow:1;" : "flex-grow:0; flex-shrink:2")">
    @if(Model.TImage != null)
    {
        <img class="tiny_card-image" src="@Model.TImage.Url()" style="order:@(Model.TImageReverse ? 1 : 0)" />
    }    
    <div class="tiny_card-text-content">
        @if (!string.IsNullOrEmpty(Model.TTitle))
        {
            <h1 class="tiny_card-title">@Model.TTitle</h1>
        }
        @if (!string.IsNullOrEmpty(Model.TText))
        {
            <p class="tiny_card-text">@Model.TText</p>
        }
    </div>   
</div>
