@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>

@{
    var content = (TCardWithImage)Model.Content;
    var imageContainerStyle = content.TImagePosition == "Top" ? "text-align: center;" : "display: flex;";
    imageContainerStyle += " gap: 30px";
    var blockContainerStyle = "text-align: center; padding: 30px;";
    if (content.TShadow)
        blockContainerStyle += " box-shadow: 0 0px 15px rgba(238, 100, 0, 0.16);  border-radius:15px;";
    if (content.TWidth > 0)
        blockContainerStyle += $" max-width: {content.TWidth};";
}
<div style="@blockContainerStyle">
    @Html.GetBlockListHtml(content.TTitle)
    <div style="@imageContainerStyle">
        @if (content.TImagePosition == "Top" || content.TImagePosition == "Left")
        {
            @Html.GetBlockListHtml(content.TImage)
            @Html.GetBlockListHtml(content.TCard)
        }
        else if (content.TImagePosition == "Right")
        {
            @Html.GetBlockListHtml(content.TCard)
            @Html.GetBlockListHtml(content.TImage)
        }
    </div>
</div>
