@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>

@{
    var content = (TInnerForPageTop)Model.Content;
}
<section class="@content.TFor-top inner-top">
    <div class="container">
        <div class="inner-top__content">
            <h1 class="inner-top__title big-title">@content.TTitle</h1>
            @if (!content.TsubTitle.IsNullOrWhiteSpace())
            {
                <p class="inner-top__subtitle">@content.TsubTitle</p>
            }               
            <div class="inner-top__images">               
                <div class="inner-top__image image-big">
                    <img src="@content.TImages?.ElementAt(0).Content.Url()" alt="Top image1">
                </div>
                <div class="inner-top__image image-small">
                    <img src="@content.TImages?.ElementAt(1).Content.Url()" alt="Top image2">
                </div>

                @if (content.TFor == "teacher")
                {
                    <span class="decor-element points-3 parallax-element">
                        <img src="~/images/icons/decor-elements/decor-points-green-big.svg" alt="Decor points">
                    </span>
                }
                else
                {
                    <span class="decor-element points-1 parallax-element">
                        <img src="~/images/icons/decor-elements/decor-points-green.svg" alt="Decor points">
                    </span>
                    <span class="decor-element points-2 parallax-element">
                        <img src="~/images/icons/decor-elements/decor-points-orange-big.svg" alt="Decor points">
                    </span>                    
                }
            </div>
        </div>
    </div>
</section>