@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var content = (THeroMovingBlock)Model.Content;
    var bottomInfo = content.TBottomInfo?.FirstOrDefault()?.Content as TDescriptionCard;
    var mainClass = content.TStyle == "teacher" ? "teacher-info " : "";
    mainClass += "school-info";
}

<!-- Section "Description (with moving elements)" -->
<section class="@mainClass">
    <div class="school-info__top">
        <div class="container">
            @if(content.TStyle == "teacher")
            {
                <span class="decor-element points-1 parallax-element">
                    <img src="~/images/icons/decor-elements/decor-points-green.svg" alt="Decor points">
                </span>
            }
            @if (!string.IsNullOrEmpty(content.TTitle))
            {             
                <h2 class="school-info__title section-title">@content.TTitle</h2>
            }
            @if(!string.IsNullOrEmpty(content.TSubTitle))
            {
                <p class="school-info__subtitle">@content.TSubTitle</p>
            }
        </div>
         <!-- Block with MOVING elements -->
        <div class="school-info__moving-block animated">
            @if (content.TMovingBlocks != null)
            {
                @foreach(var block in content.TMovingBlocks)
                {
                    @await Html.PartialAsync("tutorPartials/TMovingRow", block.Content)
                }
            }
        </div>
    </div>
    @if(bottomInfo != null)
    {
        <div class="school-info__bottom">
            <div class="container">
                @if(content.TStyle == "school")
                {
                    @await Html.PartialAsync("tutorPartials/TDescriptionBlock", bottomInfo, new ViewDataDictionary(ViewData) { { "descriptionClass", "school-info__description" } })
                }
                else if (content.TStyle == "teacher")
                {
                    <div class="school-info__descr">
                        <div class="school-info__descr-image">
                            @if(bottomInfo.TImage != null)
                            {
                                <img src="@bottomInfo.TImage.FirstOrDefault()?.Content.Url()" alt="description image"/>
                            }                       
                            @if (content.TDecors != null)
                            {
                                @foreach (var decor in content.TDecors)
                                {
                                    @await Html.PartialAsync("tutorPartials/TDecorItem", decor.Content)
                                }
                            }
                        </div>
                        <p class="school-info__descr-text">@bottomInfo.TText.</p>
                        @if (bottomInfo.TButton != null)
                        {
                            @await Html.PartialAsync("tutorPartials/TButton", bottomInfo.TButton.Content, new ViewDataDictionary(ViewData) { { "class", "school-info__descr-link" }, { "span", true } })
                        }
                    </div>
                }
            </div>
        </div>
    }  
</section>