@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var content = (TMainTop)Model.Content;
    var titleParts = content.TTitle?.Split(" ");
    var firstTitlePart = "";
    var secondTitlePart = "";

    if (titleParts != null)
    {
        for (int i = 0; i < Math.Min(content.TNumberOfColoredWords, titleParts.Length); i++)
        {
            firstTitlePart += $" {titleParts[i]}";
        }

        if (titleParts.Length > content.TNumberOfColoredWords)
        {
            secondTitlePart = " " + string.Join(" ", titleParts.Skip(content.TNumberOfColoredWords));
        }
    }
    var button = content.TButton?.Content;
}
<link rel="stylesheet" href="~/css/image.css">

<!-- Section "Main Top" -->
<section class="main-top">
    <span class="decor-element ring1 parallax-element"></span>
    <span class="decor-element ring2 parallax-element"></span>
    <div class="decor-bg radial-bg"></div>
    <div class="container">
        <!-- <div class="main-top__inner"></div> -->
        <h1 class="main-top__title"><span>@firstTitlePart</span>@secondTitlePart</h1>
        @if (content.TImages != null && content.TImages.Any())
        { 
            <div style="margin-bottom:30px" class="main-top__image">
                <div class="image-container">
               
                @if (content.TImages.Count() >= 1)
                    {
                        <img src="@content.TImages.First().Url()" alt="@content.TImages.First().Name" class="first-image" />
                    }
                    <div class="second-image-container">
                        @if (content.TTopVideo != null)
                        {                       
                            <video autoplay loop muted playsinline class="second-image">
                                <source src="@content.TTopVideo?.Url()" type="video/webm"> 
                            </video>
                        }
                    </div>
                    @if (content.TImages.Count() >= 2)
                    {
                        <img loading="lazy" src="@content.TImages.ElementAt(1).Url()" alt="@content.TImages.ElementAt(1).Name" class="third-image" />
                    }
                </div>
                @if (content.TDecors != null)
                {
                    @foreach (var decor in content.TDecors)
                    {
                        @await Html.PartialAsync("tutorPartials/TDecorItem", decor.Content)
                    }
                }
            </div>
        }
        <div class="main-top__info">
            <p class="main-top__text">@content.TInfoText</p>
            @if(button != null)
            {
                @await Html.PartialAsync("tutorPartials/TButton", button, new ViewDataDictionary(ViewData) { { "class", "main-top__link" }, { "span", false } })
            }           
        </div>
    </div>
</section>