@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var content = (TTabsBlock)Model.Content;
}
<div class="container">
    <div class="slide-top inner-top">
        <h1 class="tabs-block_title big-title">@content.TTitle</h1>
        @if(content.TSlides != null && content.TSlides.Any())
        {
            <div class="tabs" data-autoMoveDelay="@content.TAutoMoveDelay">
                @if (content.TSlides.FirstOrDefault()?.Content is TTab firstSlide)
                {
                    <button class="tab-button active" data-tab="@firstSlide.TTitle?.ToLower()">@firstSlide.TTitle</button>
                }
                
                @foreach (var item in content.TSlides.Skip(1))
                {
                    if (item.Content is TTab slide)
                    {
                        <button class="tab-button" data-tab="@slide.TTitle?.ToLower()">@slide.TTitle</button>
                    }
                }
            </div>
            <div class="tabs_content">
                @foreach (var item in content.TSlides)
                {
                    if (item.Content is TTab slide)
                    {
                        var isActive = item == content.TSlides.FirstOrDefault() ? "display:flex;" : "display:none;";
                        <p class="tab-title" data-tab="@slide.TTitle?.ToLower()">@slide.TTitle</p>
                        <div id="@slide.TTitle?.ToLower()" class="tab-content" style="@isActive">                         
                            <div class="tab-content_block">                                
                                @if (slide.TTextLines != null)
                                {
                                    @foreach (var text in slide.TTextLines)
                                    {
                                        <p class="tab-text-item">
                                            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <circle cx="5" cy="5" r="4" stroke="#E95F32" stroke-width="2" />
                                            </svg>
                                            @text
                                        </p>
                                    }

                                    @if (slide.TButton != null)
                                    {
                                        @await Html.PartialAsync("tutorPartials/TButton", slide.TButton.Content, new ViewDataDictionary(ViewData) { { "class", "slide-link" }, { "span", true } })
                                    }
                                }
                            </div>
                            @if (slide.TImage != null)
                            {
                                <div class="slide-image">
                                    <img src="@slide.TImage.Url()" />
                                </div>
                                
                            }                                                      
                        </div>
                    }
                }
            </div>
        }        
    </div>
</div>

<script src="~/js/tabs.min.js"></script>


               